header {
    /* Variable definitions */
    --header-link-hover-background-color: rgba(0, 0, 0, 0.3);
    --header-link-hover-transition-parameters: 0.2s ease-in-out;
}

header {
    display: flex;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--main-color);
}

header a, header p {
    align-self: center;
    padding: 0.5em;
    height: 100%;
    max-height: 100%;
}

header a:has(> img), header p:has(> img) {
    padding: 0;
}

header a {
    text-decoration: none;
    color: inherit;
    transition: background-color var(--header-link-hover-transition-parameters);
}

header a:hover {
    background-color: var(--header-link-hover-background-color);
}