header {
    /* Variable definitions */
    --header-link-hover-background-color: rgba(0, 0, 0, 0.3);
    --header-link-hover-transition-parameters: 0.2s ease-in-out;
    --header-dropdown-z-index: 1;
}

header {
    display: flex;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--main-color);
}

header a, header p, header dropdown {
    align-self: center;
    padding: 0.5em;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: block;
}

header a:has(> img), header p:has(> img) {
    padding: 0;
}

header a {
    text-decoration: none;
    color: inherit;
    transition: background-color var(--header-link-hover-transition-parameters);
}

header a:hover, header dropdown:hover {
    background-color: var(--header-link-hover-background-color);
}

header dropdown ul {
    /* Remove list dashes from link list */
    list-style: none;
    background-color: var(--main-color);
    padding: 0;
    margin-top: 0.5rem;
}

header dropdown ul {
    display: none;
    z-index: var(--header-dropdown-z-index);
    position: absolute;
    left: 0;
}

header dropdown:hover ul {
    display: block;
}